{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login</title>
</head>
<body>
    <h2>Login: </h2>
    <div>
        <form action="/confirmation" method="post">
        <label>Name</label>
        <input type="text" name="name" placeholder="name" required pattern="^([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)"><br>
        <label>Email:</label>
        <input type="email" name="email" placeholder="example@domain.com" required><br>
        <label>Password</label>
        <input type="text" name="password" placeholder="password" required><br>
        <input type="submit" name="login_button" value="Login">
        </form>
    </div>
    <a href="{{ url_for('registration_page' )}}">New User? Make an Account</a>
<!--    <div>-->
<!--        <form method="post">-->
<!--            <a href="{{ url_for('registration_page' )}}">New User? Make an Account</a>-->
<!--        </form>-->
<!--    </div>-->
    <div>
        {% block guest %} {% endblock %}
    </div>
</body>
</html>
{% endblock %}