{% extends 'login.html' %}
{% block guest %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Middle Page</title>
</head>
<body>
<div>
  <h3>Guest Checkout</h3>
        <form method="post" action="{{ url_for('unregistered_user_input_info') }}">
  <label>Name: </label> <input type="text" name="name" value="Sample Name">
  <label>Email: </label> <input type="email" name="email" value="sample@example.com">
  <label>Phone: </label> <input type="tel" name="phone_number" value="0123456789">
        <input type="submit" name="continue" value="Continue to Reservation">
        </form>
</div>
</body>
</html>

{% endblock %}