<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        {% if not valid_credit: %}
            <h2>This was not a valid credit card. Please try again</h2>
            <meta http-equiv = "refresh" content = "3.0; url = {{ url_for('reservation_page')}}" />
        {% else: %}
            <h2>Success! Thank you for reserving a table </h2>
            {% if session['logged_in'] %}
                <h2> You earned {{points}} points! </h2>
            {% endif %}
            <meta http-equiv = "refresh" content = "3.0; url = {{ url_for('processing_data', date=client_date, time=client_time, size=client_size, diner=reservation_diner)}}" />
        {% endif %}
    </div>
</body>
</html>