{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>Profile</title>
</head>
<div class="user_info">
    <h1>{{data[0]}}</h1>
    <p> 
        email: {{data[1]}} <br>
        mailing address: {{data[3]}}<br>
        billing address: {{data[4]}} <br>
        favorite diner: {{data[5]}}
    </p>
</div>
<div class="reservations">
    <h1> My Reservations</h1>
    <table>
        <tr>
          <th>Diner</th>
          <th>Date</th>
          <th>Time</th>
          <th>Amount of People</th>
          <th>Amount Spent</th>
        </tr>
        {% for item in data[6]%}
            <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            </tr>
        {% endfor %}
      </table>
      <a href="/reservations"> See More Details</href> </a>
</div>
<div class="rewards">
    <h1> My Rewards </h1>
    My Points: {{data[7]}}
</div>
<div class="credit_info">
    <h1> My Payment Information </h1>
    {% for item in data[2] %}
        Card Holder Name: {{item[0]}}   
        <br>
        Credit Card #: {{item[1]}}  
        <br> 
        Security #: {{item[2]}}   
        <br>
        Expiration Date: {{item[3]}}   
        <br>
        <br>
        <br>
    {% endfor %}
</div>



<body>

{% endblock %}