{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Registration</title>
</head>
<body>
    <div class = "failure_message"> 
    {% if failure: %}
        One or more entries were inputted incorrectly. Please try again. 
        <br>
    {% endif %}
    </div>
    <form action="/newuser" method="post">
        <label>Name</label>
        <input type="text" name="name" placeholder="name" required pattern="^([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)"><br>
        <label>Phone Number:</label>
        <input type="tel" name="phone_number" required pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$">
        <label>Email:</label>
        <input type="email" name="email" placeholder="example@domain.com" required><br>
        <label>Password</label>
        <input type="text" name="password" placeholder="password" required><br>
        <br>
        <br>
        <br>
        <p> Mailing Address:</p>
        <label>City</label>
        <input type="text" name="m_city" required><br>
        <label>State</label>
        <input type="text" name="m_state" required><br>
        <label>Zip Code</label>
        <input type="text" name="m_zipcode" required><br>
        <label>Street</label>
        <input type="text" name="m_street" required><br>
        <br>
        <br>
        <br>
        <input type="checkbox" name="sameAsMailing" value = "on">
        <label for="sameAsMailing"> Billing address is the same as mailing address</label><br>
        <p> Billing Address:</p>
        <label>City</label>
        <input type="text" name="b_city"><br>
        <label>State</label>
        <input type="text" name="b_state"><br>
        <label>Zip Code</label>
        <input type="text" name="b_zipcode"><br>
        <label>Street</label>
        <input type="text" name="b_street"><br>
        <input type="submit" name="register" value="Register">
    </form>
</body>
</html>
{% endblock %}