{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Reservation</title>
</head>
<body>
    <h1>Reservation Page</h1>
    <div class="">
      <form class="" action="/table" method="post">
        <label for="diner">Select a Diner:</label>
        <select name="diner" id="diner">
          <option value="Pink's Pizza">Pink's Pizza</option>
          <option value="Buffalo Bayou Brewery">Buffalo Bayou Brewery</option>
          <option value="Space City Diner">Space City Diner</option>
          <option value="Galveston Grill">Galveston Grill</option>
          <option value="Midtown Deli">Midtown Deli</option>
        </select>
        <br>
        <br>
        <br>  
        <label for="date">Select Date: </label>
        <input type="date" name="date" min={{ date }} max={{ one_month_advance }} required><br>
          <label for="time">Select Time: </label>
        <input type="time" name="time" required>
        <br>
          <labe for="size">Table for:</labe>
          <input type="number" name="size" placeholder="people" width="10px" required>
        <br>
        <br>
        <label for="method">Choose a Preffered Payment Method: </label>
        <select name="method" id="method">
          <option value="Cash">Cash</option>
          <option value="Check">Check</option>
          <option value="Credit">Credit</option>
        </select>
        <br>
        <br>
          <input type="submit" name="check" value="Confirm This Reservation">
        </form>
 <!--       <form action="/payment" method="post">
          <button>Confirm This Reservation</button>
        </form> -->
    </div>
</body>
</html>
{% endblock %}
