{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Reservation</title>
</head>
<body>
    <h1>Reservation Page</h1>
    <div class="">
      <form class="" action="/table" method="post">
        <label for="diner">Select a Diner:</label>
        <select name="diner" id="diner">
          <option value="Pink's Pizza">Pink's Pizza</option>
          <option value="Buffalo Bayou Brewery">Buffalo Bayou Brewery</option>
          <option value="Blackberry Bear Cafe">Blackberry Bear Cafe</option>
          <option value="Space City Diner">Space City Diner</option>
          <option value="Antonio's Restaurant">Antonio's Restaurant</option>
          <option value="Bonnie's Bistro">Bonnie's Bistro</option>
          <option value="The Eatery">The Eatery</option>
          <option value="Galveston Island Grill">Galveston Island Grill</option>
          <option value="Clear Lake Kitchen">Clear Lake Kitchen</option>
          <option value="Midtown Deli">Midtown Deli</option>
        </select>
        <br>
        <br>
        <br>  
        <label for="date">Select Date: </label>
        <input type="date" name="date" value="2022-11-25"><br>
          <label for="time">Select Time: </label>
        <input type="time" name="time" value="14:00">
        <br>
          <labe for="size">Table for:</labe>
          <input type="number" name="size" placeholder="people" width="10px" value="11">
        <br>
          <input type="submit" name="check" value="Confirm This Reservation">
        </form>
 <!--       <form action="/payment" method="post">
          <button>Confirm This Reservation</button>
        </form> -->
    </div>
</body>
</html>
{% endblock %}