<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Tables</title>
</head>
<body>
    <div>
    {% if not valid_table: %}
        <h1> Tables could not be reserved </h1>   <!-- <h1> {'{  tables_reserved }} </h1> -->
        <h3> Redirecting to Reservation Page</h3>
        <meta http-equiv = "refresh" content = "2.0; url = {{ url_for('reservation_page')}}" />
    {% else: %}
        <h1> Tables reserved successful. Here are the details:</h1>
        {% for info in display_info: %}
        <p> {{ info }}</p>
        {% endfor %}
        {% if is_high_traffic_day: %}
            <h2> $10 no show charge will be applied. </h2>
        {% endif %}
        <form action="/home" method="post">
            <button>Back to Home</button>
        </form>
        {% if session['logged_in'] %}
        <form action="/reservations" method="post">
            <button>Show My Reservations</button>
        </form>
        {% endif %}
    {% endif %}

    </div>
</body>
</html>