<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In Confirmation</title>
</head>
<body>
    <div>
        {% if user_exist: %}
            <h2>Succesfully Logged In. Redirecting to Reservation ...</h2>
            <meta http-equiv = "refresh" content = "1.5; url = {{ url_for('reservation_page')}}" />
        {% else: %}
            <h2>Failed to log in. Please try again. Redirecting to Home Page ...</h2>
            <meta http-equiv = "refresh" content = "1.5; url = {{ url_for('home')}}" />
        {% endif %}
    </div>
</body>
</html>