

<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>Welcome to Restrunt</h1>
    <form>
      <div class="">
        <label for="date" class="form__label">Date:</label>
        <input type="date" name="date" id="date" class="form__input" />
      </div>

      <div class="">
        <label for="time" class="form__label">Time:</label>
        <input type="time" name="time" id="time" class="form__input" />
      </div>

      <div class="">
        <label for="numGuests" class="form__label">Number of Guests:</label>
        <select name="numGuests" id="numGuests" class="form__input form__select">
          <option value="2People">2 People</option>
          <option value="4People">4 People</option>
          <option value="6People">6 People</option>
          <option value="8People">8 People</option>
        </select>
      </div>

      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Check Availability"
        />
      </div>
    </form>
  </body>
</html>



<!--

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <div class="welcome">
      <h1>Welcome to Restaurant</h1>
    </div>

    <div class="">
      <form class="search" action="index.html" method="post">
        <input type="date" name="date" value="">
        <input type="time" name="time" value="">
        <br>
        <select class="size" name="size">
          <option value="2">2 People</option>
          <option value="4">4 People</option>
          <option value="6">6 People</option>
          <option value="8">8 People</option>
        </select>
        <br>
        </form>
        <form action="table.html" method="post">
          <input type="submit" name="check" value="Check Availability">
        </form>
    </div>
    <table>
      <tr>
        <td><a href="reservation.html">Make Reservation as Guest</a></td>
        <td><a href="login.html">Returned Customer? Login</a></td>
      </tr>
    </table>
  </body>
</html>

-->